{% extends "base.html" %}
{% load my_extras %}
{% load static %}

{% block main %}
<form method = "post" enctype="multipart/form-data">
{% csrf_token %}
<p>{{ articleform.image.label_tag }} {{ articleform.image }}
<p>{{ articleform.name.label_tag }} {{ articleform.name }}
<p>{{ articleform.description.label_tag }}<p> {{ articleform.description }}
<p>
<button type="submit">Сохранить</button>
</form>
<p>Хэштеги</p>
{% for hashtag in hashtags %}
 #{{ hashtag.name }}
{% endfor %}
<p>
<form action="{% url 'addhashtag' article_id=article.id %}" method = "post">
{% csrf_token %}
{{ hashtagform.as_p }}
<button  type="submit">Добавить</button>
</form>
<input type="button" value="Назад" onclick="location.href='{% url 'articlepage' article_id=article.id %}'" style="border: 2px solid seagreen;"  >

{% endblock %}