<!DOCTYPE html>
<html  lang="en">
<head>
<style>
  .menu {
  display: flex;
  border-radius: 25px;
  border: 4px double lightblue;
justify-content: flex-end;

}
.menupush {
    margin-right: auto;
}
</style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
   <link  rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"  crossorigin="anonymous">

<title>ImageIn</title>
</head>
<body style="color:#030308; background-color:#030308" >
{% load my_extras %}
<font color="white" >


  <div  class="container">
      <h1  align="center">ImageIn</h1>

 {% url 'login' as login_url %}
 {% if  not  request.path|to_str  == login_url  %}
{% endif %}
  {% if user.is_authenticated %}
<div class = "menu" >
<button style = "border-radius: 25px;" type="submit" class="btn btn-success" onclick="location.href='{% url 'userpage' username=user.get_username  %}'">Моя страница</button>
<button style = "border-radius: 25px;" type="submit" class="btn btn-success" onclick="location.href='{% url 'feedpage' %}'">Лента</button>
<button style = "border-radius: 25px;" type="submit" class="btn btn-success" onclick="location.href='{% url 'logout' %}'">Выйти</button>
</div>

<br>

{% endif %}

    <div  class="row justify-content-left">

      <div  class="col-4">
{% block register %}
 {% endblock %}
{% block login %}
 {% endblock %}
 {% if user.is_authenticated %}
      {% block main %}

      {% endblock %}
{% endif %}
      </div>
    </div>
  </div>
  </font>
</body>
</html>