 {% extends "base.html" %}
{% load static %}
 {% load crispy_forms_tags %}
 {% block main %}
  <style>
            .content {
                border-radius: 4%;
                justify-content: space-between;
                margin: 0 auto;
                padding:20px 0;
                color:#030308;
                background-color:#030707;
                border: 2px solid seagreen;
                display: table;
                width: 100%
                height: 100%;
            }
            .content img {
               border-radius: 5%;
               padding:3px;
               display:table-cell;
               width: auto;
               height: 600px;
               border: 2px solid seagreen;
            }

        </style>
 <form  method="get">
{% csrf_token %}
 {{ hashtagform.name }}
<button type="submit">Применить фильтр</button>
 </form>
 <p></p>
  <div id="content"  class="content">
 {% for article in filter.qs %}

    <img onclick="location.href='{% url 'articlepage' article_id=article.id %}'" src="{% get_media_prefix %}{{article.image}}" />

 {% endfor %}
 </div>

 <script>
function load(num, tag)
{
 $.ajax({
     type: 'get',
     url: '{% url 'feedload' %}',
     data: {
          'num': num,
          'tag': tag,
        },
     success: function (data) {
                $('#content').append(data);
            },
            error: function(data) {
              //alert("Got an error idiot check the code")
            }
          });
};
 $(document).ready(function() {
 var tag = document.getElementById("id_name").value;
var myDiv = document.getElementById("maincontent");
var num=0;
load(num, tag);
window.addEventListener('scroll', function() {

if ((window.innerHeight + window.scrollY+150) >= document.body.offsetHeight) {
tag = document.getElementById("id_name").value;
num +=1;
load(num, tag);
}
      });
    });
</script>
 {% endblock %}